<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div  class="col-md-8" id="results_box">
<div class="row">
<div class="col-md-3">
<img src="'+photo+'" alt="Not availabe" height="100" width="150">
<div id="reviews" style="cursor:pointer;" onclick="fuck('+cur_lat+','+cur_lng+','+myarr[0]+','+myarr[1]+');">View on map
</div></div>
<div class="col-md-5">
<div id="name">
<b>'+results[i].name+'</b>
</div>
<table cellpadding="8"  cellspacing="9">
<tr><td><i class="fa fa-tags"></i></td>
<td><div id="category">'+data+'</div></td>
</tr>
<tr>
<td><i class="fa fa-map-marker"></i></td>
<td><div id="address">Near Noida Fortis Hospital,</div></td>
</tr>
<tr>
<td><i class="fa fa-location-arrow"></i></td>
<td>'+dis+' km</td>
</tr>
<tr>
<td><i class="fafa-clock-o"></i></td>
<td>Mon to Sun-10:00 AM to 08:30PM</td>
</tr>
</tr>
</table>
</div>
<div class="col-md-4"><h4>BookAppointment</h4>
<table><tr>
<td colspan="2"><select style="width:100%;" name="service_name"><option>Option1</option><option>Option2</option><option>Option3</option><option>Option4</option></select></td>
</tr>
<tr>
<td><select style="width:100%;" name="book_date"><option>Date</option><option>Option1</option><option>Option2</option><option>Option3</option><option>Option4</option></select></td>
<td><select style="float:right;" name="book_time"><option>Time</option><option>Option1</option><option>Option2</option><option>Option3</option><option>Option4</option></select></td>
</tr>
<tr>
<td></td>
<td><button type="button" style="width:100%;">Book Now</button></td>
</tr>
</table>
</div>
</div>
</div>
<div class="col-md-1">
</div>
</div>
</div>'; 