<html>
	<head>
		<title>
			Merchant
		</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css"/>
		<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" href="merchant.css">		
	</head>	
	<body>
		<header>
			<div class="top">
				<div class="logo"><a>Click'n'Book</a></div>
				<div class="nav1">
					<ul>
					<li><a>SIGNOUT</a></li>
					</ul>
				</div>
				<div class="nav2">
					<ul>
						<li><a>Add Services</a></li>
						<li><a>Remove Services</a></li>
						<li><a>Edit Services</a></li>
					</ul>
				</div>
			</div>
		</header>	
\
		<div class="bod">


		</div>

		<section id="footer">
		<div class="container">
			<div class="col-md-4" style="text-align:left;">
				<p style="font-size:1.5em;">SIGN UP FOR NEWSLETTER</p>
				<br>
				<input type="email" name="email" placeholder="Enter your email "/>&nbsp;&nbsp;<button style="color:black;">Subscribe</button>
			</div>
			<div class="col-md-4" style="border-left:1px dashed white; border-right:1px dashed white;">
				<p>CONTACT US <br/>
					CALL US : +91-9999115623<br/>
					EMAIL US : mailus@jaypeefix.in
				</p>
			</div>
			<div class="col-md-4">
				<p>SOCIAL MEDIA<br/>
					<a href="#"><img src="app/views/images/fb.png" width="36"/></a>
					<a href="#"><img src="app/views/images/tw.png" width="40"/></a>
					<a href="#"><img src="app/views/images/ln.png" width="40"/></a>
				</p>
			</div>
		</div>
		<div id="copyright"> 
			Copyright &copy; 2015 JaypeeFix<br>
			Designed & developed by <a onclick="scroll_team();">JaypeeFix Team</a>
		</div>
	</section>

	</body>
</html>