<center><h2>Your Appointments</h2></center>
<div class="container" id="appointment">
<div class="row">
<div class="col-md-6" style="">
<div style="margin-left:15%;":>
<b>Customer Name :</b> Dixit goyal<br><br>
<b>Service Name :</b> Carpenter<br><br>
<b>Time :</b> 1:00 pm to 3:00 pm  <br><br>
</div>
</div>
<div class="col-md-6" style="text-align:center;">
<button type="button" class="btn btn-primary">Accept</button> <br><br>
<button type="button" class="btn btn-primary">Decline</button> 
</div>
<div>
</div>

</div>
    