
body {
    /* font-family: 'aller_lightregular'; */
    font-family: 'allerregular';
    font-size: 16px;
    color: #454545;
    background-color: #fff;
}


header
{
	z-index:9999;
	width:100%;
	
}

header .container
{
	width:100%;	
	background:transparent;
	padding-bottom:1px;
	padding-top:1px;
}

header .container .logo
{
	width:20%;
	float:left;
	font-weight:bold;
	text-align:center;
	padding:0.3em;
	font-size:30px;
	cursor:pointer;
	font-family: 'Slabo 27px', serif;
	background:#980000;
}

header .container .nav1
{
	float:right;
	font-family: 'Play', sans-serif;
	font-size:20px;
	margin-right:50px;
}



header .container .nav2
{
	float:right;
	font-family: 'Play', sans-serif;
	font-size:25px;
	margin-top:50px;
	margin-right:300px;

}

header .container .nav1 ul 
{
	list-style-type:none;
	padding-left:0px;
	background:#980000;
	
}
header .container .nav1 ul li
{
	float:left;
	padding:10px;
	cursor:pointer;
	margin-right:10px;
	background:#980000;
	text-transform:uppercase;
}

#header2 .container .nav1 ul li
{
	float:left;
	padding:16px;
	cursor:pointer;
	margin-right:10px;
	background:#980000;
	text-transform:uppercase;
}


header .container .nav2 ul li
{
	float:left;
	padding:10px;
	cursor:pointer;
	background:rgba(0,0,0,0.6);
	text-transform:capitalize;
    margin-right: 5px;
}

#header2
{

	visibility: hidden;
}

#header2
{

	background:rgba(0,0,0,0.6);

}


header .container .nav2 ul 
{
	list-style-type:none;
	padding:0px;
}

header .container .nav2 ul li:hover
{
	background:#980000;
}

header .container .nav2 ul li a:hover
{
	text-decoration:none;
	color:white;
}

header .container .nav2 ul li a:link
{
	text-decoration:none;
	color:white;
}

header .container .nav2 ul li a:active
{
	text-decoration:none;
	color:white;
}

header .container .nav2 ul li a:visited
{
	text-decoration:none;
	color:white;
}



header .container .nav1 ul 
{
	list-style-type:none;
	padding:0px;
}

header .container .nav1 ul li:hover
{
	background:#980000;
}

header .container .nav1 ul li a:hover
{
	text-decoration:none;
	color:white;
}

header .container .nav1 ul li a:link
{
	text-decoration:none;
	color:white;
}

header .container .nav1 ul li a:active
{
	text-decoration:none;
	color:white;
}

header .container .nav1 ul li a:visited
{
	text-decoration:none;
	color:white;
}

header .container .logo:hover
{
	width:20%;
	float:left;
	font-weight:bold;
	text-align:center;
	padding:0.3em;
	font-size:30px;
	color:#d36666;
	text-decoration:none;
}

header .container .logo a:hover
{
	text-decoration:none;
	color:white;
}

header .container .logo a:link
{
	text-decoration:none;
	color:white;
}

header .container .logo a:active
{
	text-decoration:none;
	color:white;
}

header .container .logo a:visited
{
	text-decoration:none;
	color:white;
}

.main_body 
{
	padding-top:300px;
}

.main_body .container .col-md-4
{
	text-align:center;
	margin-bottom:20px;
} 
.main_body .container .col-md-4 select 
{
	background:rgba(0,0,0,0.6);
	padding:0.5em;
	width:100%;
	font-size:1.5em;
	color:white;
	border:1px inset white;
}
.main_body .container .col-md-4 input 
{
	background:rgba(0,0,0,0.6);
	padding:0.5em;
	width:100%;
	font-size:1.5em;
	color:white;
	border:1px inset white;
}

.main_body .container .col-md-4 select:hover
{
	box-shadow:0px 0px 4px white;
}
.main_body .container .col-md-2 button:hover
{
	box-shadow:0px 0px 4px white;
}

.main_body .container .col-md-2 button
{
	background:#980000;
	padding:0.5em;
	width:100%;
	font-size:1.5em;
	color:white;
	border:1px inset white;
}

.main_body .container .col-md-4  .category_data
{
	
	border:1px solid black;
	background:white;
	z-index:2;
	visibility:hidden;
}

.main_body .container .col-md-4  .category_data ul 
{
	list-style-type:none;
	text-align:left;
	padding-left:0px;
	margin-bottom:0px;
}

.main_body .container .col-md-4  .category_data ul li
{
	display:block;	
	cursor:pointer;
	padding:1em;
	font-size:1.2em;
}

.main_body .container .col-md-4  .category_data ul li:hover
{
	display:block;	
	cursor:pointer;
	color:pink;
	background:black;
}
.main_body .container .col-md-4  .location_data
{
	
	border:1px solid black;
	background:white;
	z-index:2;
	visibility:hidden;
}

.main_body .container .col-md-4  .location_data ul 
{
	list-style-type:none;
	text-align:left;
	padding-left:0px;
	margin-bottom:0px;
}

.main_body .container .col-md-4  .location_data ul li
{
	display:block;	
	cursor:pointer;
	padding:1em;
	font-size:1.2em;
}

.main_body .container .col-md-4  .location_data ul li:hover
{
	display:block;	
	cursor:pointer;
	color:pink;
	background:black;
}

#our_services
{
	 
	padding-bottom:50px;
	background: white;
}

#our_services .heading
{
text-align:center;
	text-transform:uppercase;
	color:#d9232d;
	padding-top:30px;
	line-height: 15px;
	letter-spacing: 5px;
	font-family: 'Allerta', sans-serif;
    font-weight: normal;
}


#our_team .container p {
    color: #454545;
    font-family: 'Allerta', sans-serif;
    font-size: 16px;
    text-align: :center;
}

.single-blog {
    margin-bottom: 30px;
    overflow: hidden;
    height: 354px;
}

.blog-image {
    width: 40%;
    float: left;
    position: relative;
}

.blog-image img {
    width: 222px;
    height: 354px;
}
.post-date {
    background-color: rgba(245,245,245,0.95);
    color: #1E1E1E;
    font-size: 48px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 25px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.entry-content {
    width: 60%;
    float: left;
    padding: 10px 40px 40px 35px;
    height: 100%;
    font-weight: 300;
    background-color: #f5f5f5;
}

.entry-content p {
    min-height: 155px;
}

.read-more {
    background-color: #d9232d;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
    padding: 10px 20px;
}


.read-more.secondary_btn {
    border: 1px #bd1e26 solid;
    background: none !important;
    margin-left: 5px;
    color: #bd1e26;
    padding: 9px 20px;
    font-weight: 600;
}
.read-more {
    background-color: #d9232d;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
    padding: 10px 20px;
}

.single-blog p i.plumb {
    background: url(../images/01_Red.png) no-repeat;
    width: 58px;
    height: 58px;
    display: inline-block;
}

.single-blog p i.elect {
    background: url(../images/02_Red.png) no-repeat;
    width: 58px;
    height: 58px;
    display: inline-block;
}

.single-blog p i.carpent {
    background: url(../images/03_Red.png) no-repeat;
    width: 58px;
    height: 58px;
    display: inline-block;
}
.single-blog p i.ac {
    background: url(../images/04_Red.png) no-repeat;
    width: 58px;
    height: 58px;
    display: inline-block;
}

.entry-content a h2 {
    color: #454545;
    line-height: 32px;
    margin-bottom: 20px;
}
.entry-content a:link {
    text-decoration: none;
 }

.entry-content a:hover {
    text-decoration: none;
 }

 .entry-content a:active {
    text-decoration: none;
 }

 .entry-content a:visited {
    text-decoration: none;
 }



/*#our_services .container-fluid .col-md-6 ul 
{
	list-style-type:none;
	padding-left:0px;
}

#our_services .container-fluid .col-md-6 ul li 
{
	cursor:pointer;
	display:block;
	padding:0.5em;
	background:blue;
    border:2px outset black;
	font-size:2em;
	margin-bottom:2px;
	color:black;
}

#our_services .container-fluid .col-md-6 ul li:hover 
{
	box-shadow:0px 0px 8px white;
	background:red;
}

#our_services .container-fluid .col-md-6 ul li:active 
{
	background:red;
}

#our_services .container-fluid .col-md-6 .service_slider
{
	
	border:1px solid black;
}
*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
{
	width: 100%;
	margin: auto;
}


#about_us 
{
	background:white;
	padding-bottom:100px;
}

h3
{

font-size: :20px;
}

h3
{

	    font-size: 24px;
}

#about_us .container p
{
	color:#454545;
   font-family: 'Allerta', sans-serif;
    font-size: 16px;
    text-align: :center;
}

#about_us .heading
{
	text-align:center;
	text-transform:uppercase;
	color:#d9232d;
	padding-top:30px;
	line-height: 15px;
	letter-spacing: 5px;
	font-family: 'Allerta', sans-serif;
    font-weight: normal;
}

.title-border {
    background-color: #d9232d;
    height: 1px;
    width: 184px;
    margin-bottom: 30px;
}

#how_it_works .heading
{
	text-align:center;
	text-transform:uppercase;
	color:#d9232d;
	padding-top:30px;
	line-height: 15px;
	letter-spacing: 5px;
	font-family: 'Allerta', sans-serif;
    font-weight: normal;
}

#how_it_works
{
	background:white;
padding-bottom:100px;
}

#how_it_works .container p
{
	color:#454545;
   font-family: 'Allerta', sans-serif;
    font-size: 16px;
    text-align: :center;
}

#how_it_works .container .col-md-3
{
	text-align:center;
	
}


.service-icon {
    display: inline-block;
    color: #d9232d;
    font-size: 60px;
    line-height: 75px;
 }

.portfolio-items li {
    width: 24.97%;
    float: left;
    position: relative;
    overflow: hidden;
}

.overlay{
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.portfolio-content {
    position: relative;
    overflow: hidden;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 30px;
    background-color: rgba(217, 35, 45, 0.85);
}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.service-text h4 {
    margin-bottom: 20px;
    min-height: 38px;
}

#our_team
{
	
	padding-bottom:100px;
background: white;
}
#our_team .heading
{
	text-align:center;
	text-transform:uppercase;
	color:#d9232d;
	padding-top:30px;
	line-height: 15px;
	letter-spacing: 5px;
	font-family: 'Allerta', sans-serif;
    font-weight: normal;

}


#our_team .container .col-md-6
{
	text-align:center;
}

#our_team .container .col-md-6 p
{
	color:white;
	font-size:1.5em;
}

.collapse ul li:hover
{
	background:#bd5a5a;
	
}

.collapse ul li
{
	text-transform:uppercase;
}

#footer
{
	background:black;
}


#footer .container
{
	padding-top:40px;
	padding-bottom:40px;
	
}
#footer .container .col-md-4
{
	color:white;
	text-align:center;
}
#footer #copyright
{
	background:black;	
	text-align:center;
	color:white;
	padding-bottom:30px;
}

#results 
{
	padding-top:50px;
}


#results .container #results_box
{
	border-top :1px solid #867f7f;
	*border-bottom :1px solid #867f7f;
	padding-top:20px;
	padding-bottom:20px;
}

#results .container #results_box .col-md-3
{
	text-align:center;
	background:#f2b5b5;
	padding-top:20px;
	padding-bottom:28px;
	
}
#results .container #results_box .col-md-5
{
	*background:#f2b5b5;
	padding-top:20px;
	padding-bottom:20px;
	
}
#results .container #results_box .col-md-4
{
	background:#ef7373;
	padding-top:20px;
	padding-bottom:17px;
	border-radius:10px;
	box-shadow:0px 3px 6px black,3px 0px 6px black,0px -3px 6px black,-3px 0px 6px black;
}

#results .container #results_box .col-md-4 button
{
	background:black;
	padding:5px;
	color:white;
	border:none;
	font-size:1em;
}
#results .container #results_box .col-md-4 select
{
	background:e5e2e2;
	font-size:1em;
	padding:5px;
}



#results .container #results_box .col-md-3 img
{
	border:1px solid black;
	
}
#results .container #results_box .col-md-5 table tr td
{
	padding:0.3em;
    font-size:1em;
}


#results .container #results_box .col-md-4 table tr td
{
	padding:0.3em;
    font-size:1em;
}

#results .container #results_box .col-md-5
{
	font-size:1.2em;
}

#footer input 
{
	color:black;
	padding:0.3em;
	font-size:1.3em;
	border:none;
	box-shadow:0px 0px 5px white;
}
#footer button
{
	padding:0.3em;
	font-size:1.3em;
	border-radius:2px;
	border:none;
	

}


#footer a
{
	cursor:pointer;
	
}

.fullscreen-bg 
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    width:100%;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video 
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#profile .button{
border:none;
width:auto;
padding:15px;
font-size: 20px;
background: #980000;
color:white;
border-top-left-radius:5px;
border-top-right-radius:5px;
}

#profile .profile_panel
{
padding: 20px;
	background:white;
}

.pages
{
	display: none;
}

#edit_profile
{
	display: block;
}
